.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: aliceblue;
    column-gap: 30px;
}
.grid-item{
    background-color: blueviolet;
    border: 2px solid;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    font-family: Arial 17px;
}
.title{
    text-align: center;
    box-shadow: 5px 10px;
    border:2px solid rgb(85, 85, 116);
    margin-left: 200px;
    margin-right: 200px;
}
.msd{
    text-align: center;
    text-shadow: 2px 4px;
    padding: 10px;
    font-size:60px;

}

